{
  "development": {
    "APP_BROWSERSYNC_PROXY": "",
    "APP_BROWSERSYNC_HOST": "",
    "APP_BROWSERSYNC_SSL_KEY": "",
    "APP_BROWSERSYNC_SSL_CRT": "",
    "APP_BROWSERSYNC_PORT": "",
    "APP_BROWSERSYNC_START_PATH": "",
    "APP_BROWSERSYNC_OPEN": ""
  },
  "production": {},
}
